
a { text-decoration: none; }


body{
    margin: 0%; 
   
}

section{
    height: 625px;
    background-image: url(../IMG/Deli_back1.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    margin: 0%;
}
ul {
    height: 520px;
    list-style-type: none;
   
    padding: 0;
    width:300px;
    float: left;
    margin: 100px 0 0 0 ;

  }

li{
    width: 300px;
    padding: 20px 16px;
    margin-bottom: 25px;  
    background-color: white;
    /*background:transparent;*/
    background: rgba(0, 128, 0, 0.3);
}


  li a {
    color: white;
    padding: 20px 16px;
    text-decoration: none;
   
    font-size: 25px;
    width: 300px;
  }

   a.first{
      padding-top: 50px;
      margin-top: 50px;
  }
  
  /* Change the link color on hover */
  li a:hover {
    color: rgb(61, 60, 60);
    
  }



h1.welcome{
    
    font-weight: bolder;
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 200px;
    background: rgba(0, 128, 0, 0.3);
    color: rgb(36, 33, 33);
    background: transparent;
    float: left;
    margin-right: 0%;
    padding-left: 150px;
    text-align: center;
    
}