#Ownerleftnew{
	width: 65%;
	float: left;
	top: 40%;
	padding: 0px;
	
}
#Ownerright{
	background-color:;
	width: 35%;
	float: right;
	margin-left: 0px ;
	padding-left: 10px;
	/*border-left: 2px solid black;*/
}

/* Login form --starts-- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

#Ownerright{
	box-sizing: border-box;
	outline: none;
	font-family: 'Roboto', sans-serif;
}
#Ownerleftnew{
	box-sizing: border-box;
	outline: none;
	font-family: 'Roboto', sans-serif;
}
#Ownerright{
	/*position: absolute; <-- this will dlt the space of the form*/ 
	top: 50%;
	/*transform: translateY(-50%); <-- position changes*/ 
	padding: 0 20px;
}
.form{
	max-width: 550px;
	margin: 0 auto;
	background: rgba(148,248,144,0.8);
	padding: 30px;
	border-radius: 10px;
	display: flex;
	box-shadow: 0 0 10px rgba(0,0,0,0.13);
	flex-direction: column;
	margin-bottom: 40px;
}
#Ownerright .input{
	border-radius: 10px;
	height: 25px;
	border-style: none;
	outline: none;
}
#Ownerright .lable{
	margin-bottom: 10px;
}
#Ownerright .submit{
	display: inline-block;
	background-color: green;
	border-radius: 10px;
	border: 2px solid green;
	font-size: 25px;
	font-weight: 600;
	text-transform: uppercase;
	outline: none;
}

.footer{
	margin-top: 20px;

	padding-right: -5px;
}

.table .content-table .update{
	width: 100px;
	display: inline-block;
	color: #fff;
	margin: 5px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	background-color: #17A589;
	border: 1px solid #17A589;
	border-radius: 5px;
}
.table .content-table .update:hover{
	color: #000;
	background-color: #fff;
	/*border:3px solid black;*/
}
.table .content-table .delete{
	width: 100px;
	display: inline-block;
	color: #fff;
	margin: 5px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	background-color: #D52A2A;
	border: 1px solid #D52A2A;
	border-radius: 5px;
}
.table .content-table .delete:hover{
	color: #000;
	background-color: #fff;
	/*border:3px solid black;*/
}

th{
	text-align:center;
}

.middlepartbottom{
	display: inline-block; 
}